<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }} | Wildog</title>
    <meta name="author" content="{{ site.author.name }}">
    {% if page.tags.size > 0 %}<meta name="keywords" content="{% for post_tag in page.tags %}{{post_tag}}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}">{% endif %}
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?025ef34fbf7992f9bdef4b051f9dfdb0";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
<div id="page" class="hentry">
    <header class="the-header">
        <div class="unit-head">
            <div class="unit-inner unit-head-inner">
                <p class="logo"><a href="{{ HOME_PATH }}">limb<span id="o">ø</span>.space</a></p>
                <nav class="nav-global">
                    <ul>
                        <li class="index"><a href="/index.html">Home</a></li>
                        <li class="lofter"><a href="http://in.limbo.space">Lofter</a></li>
                        <li class="about"><a href="/about.html">About</a></li>
                    </ul>
                </nav>
            </div><!-- unit-inner -->
        </div><!-- unit-head -->
    </header>
    <div class="body" role="main">
        <div class="unit-body">
            <div class="unit-inner unit-body-inner">
                <div class="entry-content">
                    {{ content }}
                </div>
            </div><!-- unit-inner -->
        </div><!-- unit-body -->
    </div><!-- body -->
    <footer class="the-footer">
        <div class="unit-foot">
            <div class="unit-inner unit-foot-inner">
                <p class="licence">
                    <br>
                    ©2013-2015 <a href="/about.html">Wildog</a> |
                    Powered by <a href="https://github.com/jekyll/jekyll">Jekyll</a> |
                    Hosted on <a href="http://github.com/">Github</a>.
                </p>
            </div><!-- unit-foot-inner -->
        </div><!-- unit-foot -->
    </footer>
</div><!-- page -->
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script>
// colorize 'o' in logo
$(window).load(function() {
    setTimeout(function() {
        $("#o").addClass("hover");
    }, 100)
});
$(window).load(function() {
    setTimeout(function() {
        $("#o").removeClass("hover");
    }, 900);
});
$(".logo a").hover(function() {
    $("#o").addClass("hover");
    },
    function() {
    $("#o").removeClass("hover");
});
// add attribute to pictures
$(document).ready(function() {
  $("p img").each(function() {
    var strA = "<a class='fancybox' href='" + this.src + "'></a>";
    $(this).wrapAll(strA);
  });
});
// lazy load fancybox
$(document).ready(function() { 
    var $fancyboxes = $('a.fancybox'); 
    if ($fancyboxes.length) { 
        $('<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/fancybox/jquery.fancybox.css?v=2.1.5">').appendTo('head'); 
        $.ajax({ 
            type:     'GET', 
            dataType: 'script', 
            url:      '{{ ASSET_PATH }}/fancybox/jquery.fancybox.pack.js?v=2.1.5', 
            cache:    true, 
            success:  function() { 
                $fancyboxes.fancybox({ 
                    openEffect    : 'elastic',
                    closeEffect   : 'elastic',
                }); 
                $fancyboxes.attr('rel', 'gallery')
                .fancybox({
                    padding : 0
                });
            } 
        }); 
    } 
}); 
</script>
<script>
function addBlankTargetForLinks () {
  $('a[href^="http"]').each(function(){
      $(this).attr('target', '_blank');
  });
}
$(document).bind('DOMNodeInserted', function(event) {
  addBlankTargetForLinks();
});
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wildog"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
  {% include JB/analytics %}
</body>
</html>
