<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 data-typer-targets="A Start of a Start of a Start of a..., A Space of a Space of a Space of a..., A Limbo of a Limbo of a Limbo of a..., A Copy of a Copy of a Copy of a..." class="h2 entry-title">A Copy of a Copy of a Copy of a...</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd fade-in" style="opacity:0;">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot from-right" id="home-foot" style="opacity:0;">
                <div class="unit-inner unit-foot-inner">
                    <nav class="pagination">
                        <ul class="social to-blur" style="width:180px">
                            <a href="http://douban.com/people/randyzew"><img src="{{ ASSET_PATH }}/skin/douban-48.png" alt="豆瓣" width="24" style="width: 24px"/></a>
                            <a href="http://twitter.com/wildoggo"><img src="{{ ASSET_PATH }}/skin/twitter-48.png" alt="Twitter" width="24" style="width: 24px"/></a>
                            <a href="http://soundcloud.com/wildogmusic"><img src="{{ ASSET_PATH }}/skin/soundcloud-48.png" alt="SoundCloud" width="24" style="width: 24px"/></a>
                            <a href="https://www.flickr.com/photos/wildoggo"><img src="{{ ASSET_PATH }}/skin/flickr-48.png" alt="Flickr" width="24" style="width: 24px"/></a>
                            <a href="http://github.com/wildog"><img src="{{ ASSET_PATH }}/skin/github-48.png" alt="Github" width="24" style="width: 24px"/></a>
                            <a href="/rss.xml"><img src="{{ ASSET_PATH }}/skin/rss-48.png" alt="Feed" width="24" style="width: 24px"/></a>
                        </ul>
                    </nav>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>

