<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header style="width:0;opacity:0;">
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title" data-typer-targets="A Start of a Start of a Start of a...">A Copy of a Copy of a Copy of a...</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd fade-in" style="opacity:0;">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot from-right" id="home-foot" style="opacity:0;">
                <div class="unit-inner unit-foot-inner">
                    <p class="gotop">
                        <a href="#page">Back to Top</a>
                         | 
                        <a href="/rss.xml">Feed</a>
                    </p>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>

