<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title">A Copy of a Copy of a Copy of a...</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot" id="home-foot">
                <div class="unit-inner unit-foot-inner">
                    <nav class="pagination">
                        <ul class="social to-blur" style="width:180px">
                            <a href="http://douban.com/people/randyzew"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/douban-48.png" alt="豆瓣" width="24" style="width: 24px"/></a>
                            <a href="http://twitter.com/wildoggo"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/twitter-48.png" alt="Twitter" width="24" style="width: 24px"/></a>
                            <a href="http://soundcloud.com/wildogmusic"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/soundcloud-48.png" alt="SoundCloud" width="24" style="width: 24px"/></a>
                            <a href="https://www.flickr.com/photos/wildoggo"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/flickr-48.png" alt="Flickr" width="24" style="width: 24px"/></a>
                            <a href="http://github.com/wildog"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/github-48.png" alt="Github" width="24" style="width: 24px"/></a>
                            <a href="/rss.xml"><img src="http://7xqhhm.com1.z0.glb.clouddn.com/rss-48.png" alt="Feed" width="24" style="width: 24px"/></a>
                        </ul>
                    </nav>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>

