<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title"># <span class="typer"></span><span class="cursor">_</span></h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot" id="home-foot">
                <div class="unit-inner unit-foot-inner">
                    <nav class="pagination">
                        <ul class="social to-blur">
                            <li><a id="douban" href="http://douban.com/people/randyzew"></a></li>
                            <li><a id="twitter" href="http://twitter.com/wildoggo"></a></li>
                            <li><a id="soundcloud" href="http://soundcloud.com/wildogmusic"></a></li>
                            <li><a id="flickr" href="https://www.flickr.com/photos/wildoggo"></a></li>
                            <li><a id="github" href="http://github.com/wildog"></a></li>
                            <li><a id="rss" href="/rss.xml"></a></li>
                        </ul>
                    </nav>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>


