<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title">{{ page.title }}</h1>
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                </div><!-- entry-content -->
            </div><!-- bd -->

            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <nav class="pagination">
                        <ul>
                            <a href="http://douban.com/people/randyzew"><img src="{{ ASSET_PATH }}/skin/douban-48.png" alt="豆瓣" width="24" style="width: 24px"/></a>
                            <a href="http://twitter.com/wildoggo"><img src="{{ ASSET_PATH }}/skin/twitter-48.png" alt="Twitter" width="24" style="width: 24px"/></a>
                            <a href="http://soundcloud.com/wildogmusic"><img src="{{ ASSET_PATH }}/skin/soundcloud-48.png" alt="SoundCloud" width="24" style="width: 24px"/></a>
                            <a href="http://github.com/wildog"><img src="{{ ASSET_PATH }}/skin/github-48.png" alt="Github" width="24" style="width: 24px"/></a>
                            <a href="http://instagram.com/wildoggo"><img src="{{ ASSET_PATH }}/skin/instagram-48.png" alt="instagram" width="24" style="width: 24px"/></a>
                            <a href="/rss.xml"><img src="{{ ASSET_PATH }}/skin/rss-48.png" alt="Feed" width="24" style="width: 24px"/></a>
                        </ul>
                    </nav>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>
