<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <div class="header-placeholder"></div>
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="h2 entry-title"><span class="title-text">{{ page.title }}</span>{% if page.menu %}<a href="javascript:void(0)"><div class="menu-button" data-balloon="长文导航" data-balloon-pos="right"><div class="stripes"></div></div></a>{% endif %}</h1>
                        {% if page.menu %}<div id="toc"></div>{% endif %}
                    </div><!-- unit-inner -->
                </div><!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                    <div class="meta">
                        <p class="date-publish">
                            Published: 
                            <date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
                            <span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
                            <span class="day">{{ page.date | date: '%-d,' }}</span>
                            <span class="year">{{ page.date | date: '%Y' }}</span>
                            </date>
                            <span id="cc" data-balloon-length="medium" data-balloon="版权声明：自由转载-相同方式共享-保持署名 | Creative Commons BY-SA 4.0" data-balloon-pos="up"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh"><img id="ccimg" alt="Creative Commons License" style="border-width:0" src="//wil.dog/static/cc.png" /></a><span>
                        </p>
                    </div><!-- meta -->
                </div><!-- entry-content -->
                <div class="misc-content">
                    {% include JB/comments %}
                </div><!-- misc-content -->
                
            </div><!-- bd -->
            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <nav class="pagination">
                        <ul>
                            {% if page.previous %}
                            <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></li>
                            {% endif %}
                            {% if page.previous and page.next %}
                            <li class="pipe"> | </li>
                            {% endif %}
                            {% if page.next %}
                            <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <p class="gotop">
                        <a href="javascript:void(0)">Back to Top</a>
                    </p>
                </div>
            </footer>

        </div><!-- content -->
    </div><!-- unit-inner -->
</article>
