<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>iSteps Widget Privacy Policy</title>
    </head>
    <body>
        <h1>iSteps Widget Privacy Policy</h1>
        <h3>iSteps Widget does not use any network connection, and we never collect your health data or any other user informations, the health data is loaded and displayed in the app directly.</h3>
        <h3>If you have any questions about iSteps Widget, please <a href="mailto:app@wil.dog">contact us</a>.</h3>
    </body>
</html>
